<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 *ngIf="settingsAccount">Setarile utilizatorului [<b>{{settingsAccount.login}}</b>]</h2>

            <div class="alert alert-success" style="background-color: #a1ffff !important; border-color: #55acee !important;" *ngIf="success">
                <strong>Setari salvate!</strong>
            </div>

            <jhi-alert-error></jhi-alert-error>

            <form name="form" role="form" (ngSubmit)="save()" #settingsForm="ngForm" *ngIf="settingsAccount" novalidate>

                <div class="form-group">
                    <label class="form-control-label" for="firstName">Prenume</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Prenume"
                           [(ngModel)]="settingsAccount.firstName" minlength=1 maxlength=50 #firstNameInput="ngModel" required>
                    <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.required">
                            Prenumele este obligatoriu.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.minlength">
                            Prenumele trebuie sa aiba minim 1 caracter.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="firstNameInput.errors.maxlength">
                            Prenumele nu poate avea mai mult de 50 de caractere.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="lastName">Nume</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Nume"
                           [(ngModel)]="settingsAccount.lastName" minlength=1 maxlength=50 #lastNameInput="ngModel" required>
                    <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.required">
                            Numele este obligatoriu.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.minlength">
                            Numele trebuie sa aiba minim 1 caracter.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="lastNameInput.errors.maxlength">
                            Numele nu poate avea mai mult de 50 de caractere.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                           [(ngModel)]="settingsAccount.email" minlength="5" maxlength="100" #emailInput="ngModel" required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required">
                            Emailul este obligatoriu.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email">
                            Email invalid.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength">
                            Emailul trebuie sa aiba minim 5 caractere.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength">
                            Emailul nu poate avea mai mult de 100 de caractere.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="settingsForm.form.invalid" class="btn btn-primary" style="background-color: #002b80">Save</button>
            </form>
        </div>
    </div>

</div>
