<div *ngIf="course">
<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <h3 class="card-header primary-color white-tex"
                style="background-color: #002b80; color: #c1ffff; padding: 0.2rem 1.5rem;
                       font-size: large; font-weight: 400">{{course}}</h3>
            <div class="card-body " style="border-color: #002b80">
                <div style="width: 97%; padding-left: .7rem">
                    <div>
                        <br>
                        <span style="font-weight: bold; font-family: 'Comic Sans MS'; font-size: x-large; padding: .05rem 1.25rem">Pareri</span>
                        <hr style="background-color: #cccccc">
                        <div>
                            <ul style="list-style-type:disc; color: #002b80; font-weight: 500">
                                <li>Materie</li>
                                <li>Profesori</li>
                                <li>Asistenti</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <br>
                        <span style="font-weight: bold; font-family: 'Comic Sans MS';  font-size: x-large; padding: .05rem 1.25rem">Materiale</span>
                        <hr style="background-color: #cccccc">
                        <div>
                            <ul style="list-style-type:disc; color: #002b80; font-weight: 500">
                                <li>Cursuri</li>
                                <li>Laboratoare</li>
                                <li>Subiecte Examen</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <br>
                        <span style="font-weight: bold; font-family: 'Comic Sans MS';  font-size: x-large; padding: .05rem 1.25rem">Rezolvari</span>
                        <hr style="background-color: #cccccc">
                        <div>
                            <ul style="list-style-type:disc; color: #002b80; font-weight: 500">
                                <li>Probleme rezolvate</li>
                                <li>Probleme in curs de rezolvare</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4" >
        <jhi-rank *ngIf="rankingAURL" [rankingURL]="rankingPURL" [hasVoted]="hasVotedP" [voteURL]="voteAURL">
        </jhi-rank>
        <!--<div *ngIf="rankingAURL">-->
        <!--<jhi-rank [rankingURL]="rankingAURL" [hasVoted]="hasVotedA">-->

        <!--</jhi-rank>-->
        <!--</div>-->
    </div>
</div>
</div>
