<div>
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h1>Resetare parola</h1>

            <div class="alert alert-danger" *ngIf="keyMissing">
                <strong>Cheia pentru resetarea parolei lipseste.</strong>
            </div>

            <div class="alert alert-warning" style="background-color: #a1ffff !important; border-color: #55acee !important;" *ngIf="!success && !keyMissing">
                <p>Alegeti alta parola</p>
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <p>Parola nu a putut fi resetata.</p>
            </div>

            <p class="alert alert-success" style="background-color: #a1ffff !important; border-color: #55acee !important;" *ngIf="success">
                <span><strong>Parola a fost resetata.</span>
            </p>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Parola si confirmarea acesteia nu sunt la fel!
            </div>

            <div *ngIf="!keyMissing">
                <form *ngIf="!success" name="form" role="form" (ngSubmit)="finishReset()" #passwordForm="ngForm">
                    <div class="form-group">
                        <label class="form-control-label" for="password">Parola</label>
                        <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                               placeholder="Parola"
                               [(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required>
                        <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.required">
                                Va rugam inserati parola.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.minlength">
                                Parola nu poate avea mai putin de 4 caractere.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="passwordInput.errors.maxlength">
                                Parola nu poate avea mai mult de 50 de caractere.
                            </small>
                        </div>
                        <jhi-password-strength-bar [passwordToCheck]="resetAccount.password"></jhi-password-strength-bar>
                    </div>

                    <div class="form-group">
                        <label class="form-control-label" for="confirmPassword">Confirmare parola</label>
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                               placeholder="Confirmati parola"
                               [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                        <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.required">
                                Va rugam inserati parola.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.minlength">
                                Parola nu poate avea mai putin de 4 caractere.
                            </small>
                            <small class="form-text text-danger"
                               *ngIf="confirmPasswordInput.errors.maxlength">
                                Parola nu poate avea mai mult de 50 de caractere.
                            </small>
                        </div>
                    </div>
                    <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary" style="background-color: #002b80">Resetare parola</button>
                </form>
            </div>

        </div>
    </div>
</div>
