<div *ngIf="user">
    <h2>
        <span>Utilizator</span> [<b>{{user.login}}</b>]
    </h2>
    <dl class="row-md jh-entity-details">
        <dt><span>Username</span></dt>
        <dd>
            <span>{{user.login}}</span>
            <span class="badge badge-danger" *ngIf="!user.activated"
                 >Dezactivat</span>
            <span class="badge badge-success" *ngIf="user.activated"
                 >Activat</span>
        </dd>
        <dt><span>Prenume</span></dt>
        <dd>{{user.firstName}}</dd>
        <dt><span>Nume</span></dt>
        <dd>{{user.lastName}}</dd>
        <dt><span>Email</span></dt>
        <dd>{{user.email}}</dd>
        <dt><span>Creat de</span></dt>
        <dd>{{user.createdBy}}</dd>
        <dt><span>Data crearii</span></dt>
        <dd>{{user.createdDate | date:'dd/MM/yy HH:mm' }}</dd>
        <dt><span>Modificat ultima oara de</span></dt>
        <dd>{{user.lastModifiedBy}}</dd>
        <dt><span>Data ultimei modificari</span></dt>
        <dd>{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</dd>
        <dt><span>Profile</span></dt>
        <dd>
            <ul class="list-unstyled">
                <li *ngFor="let authority of user.authorities">
                    <span class="badge badge-info">{{authority}}</span>
                </li>
            </ul>
        </dd>
    </dl>
    <button type="submit"
            routerLink="/user-management"
            class="btn btn-info" style="background-color: #002b80">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
