<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myUserLabel">
            Creare/Editare utilizator</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!user.id">
            <label>ID</label>
            <input type="text" class="form-control" name="id"
                   [(ngModel)]="user.id" readonly>
        </div>

        <div class="form-group">
            <label class="form-control-label">Username</label>
            <input type="text" class="form-control" name="login" #loginInput="ngModel"
                   [(ngModel)]="user.login" required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">

            <div *ngIf="loginInput.dirty && loginInput.invalid">
                <small class="form-text text-danger"
                   *ngIf="loginInput.errors.required">
                    Camp obligatoriu.
                </small>

                <small class="form-text text-danger"
                   *ngIf="loginInput.errors.maxlength"
                  >
                    Campul nu poate avea mai mult de 50 de caractere.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label">Prenume</label>
            <input type="text" class="form-control" name="firstName" #firstNameInput="ngModel"
                   [(ngModel)]="user.firstName" maxlength="50">

            <div *ngIf="firstNameInput.dirty && firstNameInput.invalid">
                <small class="form-text text-danger"
                   *ngIf="firstNameInput.errors.maxlength"
                  >
                    Campul nu poate avea mai mult de 50 de caractere
                </small>
            </div>
        </div>
        <div class="form-group">
            <label>Nume</label>
            <input type="text" class="form-control" name="lastName" #lastNameInput="ngModel"
                   [(ngModel)]="user.lastName" maxlength="50">

            <div *ngIf="lastNameInput.dirty && lastNameInput.invalid">
                <small class="form-text text-danger"
                   *ngIf="lastNameInput.errors.maxlength"
                  >
                    Campul nu poate avea mai mult de 50 de caractere.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label">Email</label>
            <input type="email" class="form-control" name="email" #emailInput="ngModel"
                   [(ngModel)]="user.email" minlength="5" required maxlength="100">

            <div *ngIf="emailInput.dirty && emailInput.invalid">
                <small class="form-text text-danger"
                   *ngIf="emailInput.errors.required">
                    Camp obligatoriu.
                </small>

                <small class="form-text text-danger"
                   *ngIf="emailInput.errors.maxlength"
                  >
                    Campul poate avea maxim 100 caractere.
                </small>

                <small class="form-text text-danger"
                   *ngIf="emailInput.errors.minlength"
                   translate-value-min="5">
                    Campul trebuie sa aiba minim 5 caractere.
                </small>

                <small class="form-text text-danger"
                   *ngIf="emailInput.errors.email">
                    Email invalid.
                 </small>
            </div>
        </div>
        <div class="form-check">
            <label class="form-check-label" for="activated">
                <input class="form-check-input" [disabled]="user.id === null" type="checkbox" id="activated" name="activated" [(ngModel)]="user.activated">
                <span>Activat</span>
            </label>
        </div>

        <div class="form-group">
            <label>Profile</label>
            <select class="form-control" multiple name="authority" [(ngModel)]="user.authorities">
                <option *ngFor="let authority of authorities" [value]="authority">{{authority}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()" style="background-color: #002b80">
            <span class="fa fa-ban"></span>&nbsp;<span style="color: white"
           >Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary" style="background-color: #002b80">
            <span class="fa fa-floppy-o"></span>&nbsp;<span style="color: white">Save</span>
        </button>
    </div>
</form>
