<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 *ngIf="account">Parola pentru [<b>{{account.login}}</b>]</h2>

            <div class="alert alert-success" style="background-color: #a1ffff !important; border-color: #55acee !important;" *ngIf="success">
                <strong>Parola a fost schimbata!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error" >
                <strong>A aparut eroare!</strong> Parola nu a putut fi schimbata.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Confirmarea parolei difera de parola data!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" #passwordForm="ngForm">

                <div class="form-group">
                    <label class="form-control-label" for="password">Parola</label>
                    <input type="password" class="form-control" id="password" name="password" #passwordInput="ngModel"
                    placeholder="Parola noua"
                           [(ngModel)]="password" minlength=4 maxlength=50 required>
                    <div *ngIf="passwordInput.dirty && passwordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.required">
                            Trebuie sa introduceti parola.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.minlength">
                            Parola trebuie sa aiba minim 4 caractere.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordInput.errors.maxlength">
                            Parola nu poate avea mai mult de 50 de caractere
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmare parola</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel"
                    placeholder="Confirmati parola"
                           [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.required">
                            Trebuie sa introduceti parola.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.minlength">
                            Parola trebuie sa aiba minim 4 caractere.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="confirmPasswordInput.errors.maxlength">
                            Parola nu poate avea mai mult de 50 de caractere
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="passwordForm.form.invalid" class="btn btn-primary" style="background-color: #002b80">Salvare</button>
            </form>
        </div>
    </div>
</div>
