
<div class="card" *ngIf="course">
    <h1 class="card-header primary-color white-tex"
        style="background-color: #002b80; color: #c1ffff; padding: 0.2rem 1.5rem;
                       font-size: large; font-weight: 400">Cursuri {{course}} </h1>
    <div class="card-body " style="border-color: #002b80" >
        <div *ngFor="let year of years" style="padding-left: 2rem; padding-right: 2rem">
            <br>
            <span style="font-family: 'Comic Sans MS'; width: 100%; font-size: large; padding: .05rem 1.25rem">{{year}}</span>
            <hr style="background-color: #cccccc">
            <div *ngFor="let file of files">
                <span>{{getFileName(file)}}</span>
            </div>
        </div>
    </div>
</div>
<div>
    <input
        id="file"
        type="file"
        class="form-control-file"
        accept=".doc,.docx,.pdf,.txt"
        aria-describedby="fileHelp"
        (change)="changeFile($event)">
    <small id="fileHelp" class="form-text text-muted">
        The file must be doc, docx, pdf or txt and less than 10MB.
    </small>
    <button (click)="uploadFile()"> Upload </button>
</div>
