<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 *ngIf="success">Inregistrare cu</h1>
            <h1 *ngIf="error">Inregistrare</h1>

            <div class="alert alert-success" style="background-color: #a1ffff !important; border-color: #55acee !important;" *ngIf="success">
                <strong>Inregistrare salvata!</strong> Verificati emailul pentru confirmare.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Inregistrare esuata!</strong> Va rugam incercati dinnou mai tarziu.
            </div>

            <jhi-social *ngIf="success" provider="{{ provider }}"></jhi-social>
            <br/>
            <div class="alert alert-warning" style="background-color: #a1ffff !important; border-color: #55acee !important;">
                <span>Daca doriti </span>
                <a class="alert-link" (click)="login()">sign in</a><span>, puteti incerca conturile default de testare:<br/>- Administrator (login="admin" si password="admin") <br/>- User (login="user" si password="user").</span>
            </div>
        </div>
    </div>
</div>
