<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Activare</h1>

            <div class="alert alert-success" style="background-color: #a1ffff !important; border-color: #55acee !important;" *ngIf="success">
                <span><strong>Contul a fost activat.</strong> Va rugam </span>
                <a class="alert-link" (click)="login()">logati-va</a>.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Contul nu a putut fi activat.</strong> Va rugam folositi formularul de inregistrare pentru a va crea alt cont.
            </div>

        </div>
    </div>
</div>
