<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Inregistrare</h1>

            <div class="alert alert-success" *ngIf="success">
                <strong>Inregistrare facuta cu succes!</strong> Va rugam verificativa mailul pentru confirmare.
            </div>

            <div class="alert alert-danger" *ngIf="error">
                <strong>Inregistrare esuata!</strong> Incercati dinnou mai tarziu.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists">
                <strong>Username-ul exista deja!</strong> Va rugam alegeti altul.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists">
                <strong>Email-ul este deja folosit!</strong> Va rugam alegeti altul.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch">
                Parolele date nu sunt la fel!
            </div>
        </div>
        <div class="col-md-4 offset-md-2">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="Username"
                            required minlength="1" maxlength="50" pattern="^[_'.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required">
                            Username-ul este obligatoriu.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength"
                               >
                            Username-ul trebuie sa aiba minim 3 caractere.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength"
                               >
                            Username-ul nu poate avea mai mult de 50 de caractere.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern"
                              >
                            Username-ul poate contine doar litere si cifre.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="Email"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=100 required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required"
                               >
                            Emailul este obligatoriu.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid"
                              >
                            Emailul dat este invalid.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength"
                              >
                            Emailul trebuie sa aiba minim 5 caractere.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength"
                              >
                            Emailul nu poate fi mai lung decat 100 de caractere.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password">Parola noua</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="Parola noua"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required"
                               >
                            Parola este obligatorie.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength"
                               >
                            Parola trebuie s aaiba minim 4 caractere.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength"
                               >
                            Parola nu poate sa aiba mai mult de 50 de caractere.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword">Confirmare Parola </label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="Confirmati parola"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required"
                              >
                            Parola de confirmare este obligatorie.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength"
                             >
                            Parola trebuie sa aiba minim 4 caractere.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength"
                              >
                            Parola nu poate sa aiba mai mult de 50 de caractere.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary">Register</button>
            </form>
            <p></p>
            <div class="alert alert-warning">
                <a class="alert-link" (click)="openLogin()">sign in</a><span>, Pentru testare puteti folosi conturile default<br/>- Administrator (login="admin" si password="admin") <br/>- Utilizator (login="user" si password="user").</span>
            </div>
        </div>
        <div class="col-md-4">
            <br/>
            <jhi-social provider="google"></jhi-social>
            <jhi-social provider="facebook"></jhi-social>
            <jhi-social provider="twitter"></jhi-social>
            <!-- jhipster-needle-add-social-button -->
        </div>
    </div>
</div>
