<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid img-rounded"></span>
    </div>
    <div class="col-md-9">
        <br>
        <br>
        <h1 class="display-4">Bine ati venit pe ACSPedia!</h1>
        <br>
        <br>
        <br>
        <div [ngSwitch]="isAuthenticated()">
            <div class="alert-success alert " style="background-color: #c1ffff; border-color: #55acee;" *ngSwitchCase="true">
                <span *ngIf="account"
                   > Sunteti logat cu userul "{{account.login}}". </span>
            </div>

            <div class="alert-warning alert " style="background-color: #c1ffff; border-color: #55acee;" *ngSwitchCase="false">
                <a class="alert-link" (click)="login()">sign in</a><span> puteti folosi conturile default pentru testare:<br/>- Admin (login="admin" and password="admin") <br/>- Utilizator (login="user" si password="user").</span>
            </div>

            <div class="alert-warning alert " style="background-color: #c1ffff; border-color: #55acee;" *ngSwitchCase="false">
                <span>nu aveti inca cont?</span>
                <a class="alert-link" routerLink="register">Inregistrare</a>
            </div>
        </div>

    </div>
</div>
