<div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1>Resetare parola</h1>

            <div class="alert alert-danger" *ngIf="errorEmailNotExists">
                <strong>Adresa de email nu a fost inregistrata!</strong> Va rugam verificati si incercati dinnou.
            </div>

            <div class="alert alert-warning" style="background-color: #a1ffff !important; border-color: #55acee !important;" *ngIf="!success">
                <p>Adaugati adresa de email cu care va logati.</p>
            </div>

            <div class="alert alert-success" style="background-color: #a1ffff !important; border-color: #55acee !important;" *ngIf="success === 'OK'">
                <p>Verificati-va mailul pentru detalii despre resetarea parolei.</p>
            </div>

            <form *ngIf="!success" name="form" role="form" (ngSubmit)="requestReset()" #resetRequestForm="ngForm">
                <div class="form-group">
                    <label class="form-control-label" for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email"
                           [(ngModel)]="resetAccount.email" minlength=5 maxlength=100 #emailInput="ngModel" required>
                    <div *ngIf="emailInput.dirty && emailInput.invalid">
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.required">
                            Va rugam adaugati adresa de email.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.email">
                            Adresa nu este valida.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.minlength">
                            Emailul trebuie sa aiba minim 5 caractere.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="emailInput.errors.maxlength">
                            Emailul nu poate avea mai mult de 100 de caractere.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="resetRequestForm.form.invalid" class="btn btn-primary" style="background-color: #002b80">Resetare</button>
            </form>

        </div>
    </div>
</div>
